</div>
<div class="footer">
  <div class="social-media">
    <a href="#" class="fa fa-facebook">  Facebook</a>
    <a href="#" class="fa fa-twitter">  Twitter</a>
    <a href="#" class="fa fa-reddit">  Reddit</a>
  </div>
  <div class="contact-media">
    <address>
      +48 123-123-123 <br>
      Christopher Saffron <br>
      London, Greenstreet 5 <br>
      Box 123, WhereWhat <br>
      Great Britain <br>
      <span>(All of the above is fake though)</span>
    </address>
  </div>
  <div class="social-media">
    <a href="#" class="fa fa-linkedin">  LinkedIn</a>
    <a href="#" class="fa fa-google">  Google</a>
    <a href="#" class="fa fa-youtube">  Youtube</a>
  </div>
  <div class="newsletter">
    <p>Join our newsletter!</p>
    <h4>We shall inform You about our new products and great offers or discounts.</h4>
    <h4>It doesn't cost anything, just sing up and enjoy the ride!</h4>
    <form action="/" method="post">
      <h3 class='label'>Your email</h3>
      <input type="email" name="newsletter-email" value="" placeholder="Your Email"></input> <br>
      <p class='ifError'></p>
      <button class='other' type="button" name="button">Sign me in!</button>
    </form>
  </div>
</div>
</div>
<script src="/javascripts/animations.js" charset="utf-8"></script>
</body>
</html>
