<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Eczar|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Havir Inventory Application</title>
  </head>
  <body>
  <div class="wrapper">
    <div class="topnav">
      <a href='/'><div class='dropdown dropdownlogo logo'>THE LOGO</div></a>
      <div class='dropdown'>Country <i class='fas fa-angle-double-down'></i>
      <div class="dropdown-tab">
        <a href="/country/pol">Poland</a>
        <a href="/country/ger">Germany</a>
        <a href="/country/fra">France</a>
        <a href="/country/usa">USA</a>
        <a href="/country/grb">Great Britain</a>
        <a href="/country">Other</a>
      </div>
      </div>
      <div class="dropdown">Shops <i class='fas fa-angle-double-down'></i>
        <div class="dropdown-tab">
          <a href="#gb">London SDF</a>
          <a href="#gb">Brighton 32-12</a>
          <a href="#poland">Paris, Wight</a>
          <a href="#poland">Berlin, Greystreet</a>
          <a href="#poland">MORE</a>
        </div>
      </div>
      <a href="/products" class='navlink'>Products <i class='fas fa-shopping-cart'></i></a>
      <div class="topnav-right">
        <a href="#"  class='navlink login' ><i class='fas fa-user'></i> Login</a>
        <a href="#" class='navlink login' >Register</a>
      </div>
      <div class="scroll-progress-container">
        <div class="scrollprogress"></div>
      </div>
      <div class="admin-room"><a href="/admin-room">Enter admin room</a></div>
    </div>
