<%- include('partials/nav') -%>

<div class="admin-tab">
  <div class="admin-main">
    <img class='notfound-img' src="/images/america.png" alt="am">
    <p class='notfound-caption'>So, You have finally reached the void. Care to go back?</p>
  </div>
</div>
